<div class="ui container">
  <div class="ui breadcrumb">
    <a class="section">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section">?</a>
    <i class="right angle icon divider"></i>
    <div class="active section">?</div>
  </div>
</div>
